<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HCI_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HCI_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <style>
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgb(0, 103, 71);
            }

            li {
                float: left;
            }

                li a {
                    display: block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    li a:hover {
                        background-color: rgb(0, 147, 116);
                        color: white;
                    }

            .active {
                background-color: rgb(0, 147, 116);
            }



        </style>
       

            <ul>
                <li><img style="background-color: rgb(0, 103, 71)" src="https://logos-world.net/wp-content/uploads/2022/01/University-of-South-Florida-Symbol.png" alt="Logo" height="50" /></li>
                <li><a asp-page="/Index">Home</a></li>
                <li><a asp-page="/Courses/Index">Courses</a></li>
                <li><a asp-page="/Calendar/Index">Calendar</a></li>
                <li><a asp-page="/Flowchart/Index">Flowchart</a></li>
                <li><a asp-page="/Cart">Cart</a></li>
                <li style="float:right"><a class="active" href="#about">About</a></li>
            </ul>

        

        
<!--
            <nav style="background-color:rgb(0, 103, 71);">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">HCI_Project</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Courses/Index">Courses</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
-->        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HCI_Project - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>