@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    University of South Florida Course Registration
</h1>

<p>
    Use this website to register for your courses at the University of South Florida.
</p>